@CHARSET "UTF-8";
	.ControllerZone
	{
		position:absolute;
		z-index:15;
		background-color:black;
		opacity:0;
		filter:alpha(opacity:0);
	}
	.Controller
	{
		position:absolute;
		left:500px; 
		background-color:gray; 
		z-index:18;
		display:none;
	}
	.Thumbnail
	{
		display:inline;
		border-width:5px;
		border-style:dotted;
	}
	.ThumbnailZone
	{
		position:absolute;
		left : 0px;
		z-index : 19;
		width : 100%;
		overflow : hidden;
	}
	.ThumbnailContainer
	{
		left : 80%;
		z-index : 20;
		height : 80px;
		width  : 10000000px;
	}
	div#Film
	{
		position:absolute;
		left:80%;
		top:100px;
		z-index:22;
	}
